/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 31.25em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 28.125em) {
  html {
    font-size: 50.25%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  min-height: 100vh;
  background: #191b2a;
  color: #fff;
}

.container .wrapper__heading--primary {
  font-weight: 500;
  font-size: 2.5rem;
}

.container .wrapper__heading--secondary {
  font-weight: 400;
  font-size: 1.5rem;
  color: #999;
}

.container .wrapper__display {
  font-size: 2.5rem;
}

.container .wrapper__content input,
.container .wrapper__content select,
.container .wrapper__content a {
  font-size: 1.8rem;
  color: #e6e6e6;
}

.container .wrapper__content a {
  font-weight: 700;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-align: center;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  width: 75%;
  border: none;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#f8a731), to(#ff4864));
  background: linear-gradient(to right, #f8a731, #ff4864);
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 28.125em) {
  .btn, .btn:link, .btn:visited {
    width: 85%;
  }
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.container .wrapper__display {
  background: #27283e;
  border-radius: 1rem;
}

.container .wrapper__content {
  background: #27283e;
  border-radius: 1rem;
}

.container .wrapper__content input {
  width: 75%;
  background: #40415d;
  border: none;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  text-align: right;
}

@media only screen and (max-width: 28.125em) {
  .container .wrapper__content input {
    width: 85%;
  }
}

.container .wrapper__content select {
  width: 75%;
  background: #40415d;
  border: none;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 28.125em) {
  .container .wrapper__content select {
    width: 85%;
  }
}

.wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media only screen and (max-width: 28.125em) {
  .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 2rem;
  }
}

.container .wrapper__heading {
  margin: 0 auto;
  padding: 1rem 0;
  padding-top: 0;
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 28.125em) {
  .container .wrapper__heading {
    width: 43rem;
  }
}

@media only screen and (max-width: 21.875em) {
  .container .wrapper__heading {
    width: 37rem;
  }
}

.container .wrapper__display {
  margin: 0 auto;
  padding: 2rem 0;
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 28.125em) {
  .container .wrapper__display {
    width: 43rem;
  }
}

@media only screen and (max-width: 21.875em) {
  .container .wrapper__display {
    width: 37rem;
  }
}

.container .wrapper__content {
  margin: 0 auto;
  padding: 2.5rem 0;
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 28.125em) {
  .container .wrapper__content {
    width: 43rem;
  }
}

@media only screen and (max-width: 21.875em) {
  .container .wrapper__content {
    width: 37rem;
  }
}
/*# sourceMappingURL=main.css.map */