.container {
  .wrapper__display {
    background: $color--secondary;
    border-radius: 1rem;
  }

  .wrapper__content {
    background: $color--secondary;
    border-radius: 1rem;

    input {
      width: 75%;
      background: $color--tertiary;
      border: none;
      border-radius: 1rem;
      padding: 1.5rem 2rem;
      margin-bottom: 2rem;
      text-align: right;
      @include respond(sm-phone) {
        width: 85%;
      }
    }
    select {
      width: 75%;
      background: $color--tertiary;
      border: none;
      border-radius: 1rem;
      padding: 1.5rem 2rem;
      margin-bottom: 2rem;
      @include respond(sm-phone) {
        width: 85%;
      }
    }
  }
}
